@media (max-width: 1230px) {
    .nav-list {
        display: none;
    }
    .nav-button {
        display: block;
        position: absolute;
        top: 46px;
        right: 30px;
        z-index: 9;
    }
    .nav.open .nav-list{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        position: fixed ;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        z-index: 1;
        padding: 46px 30px;
        font-weight: 600;
        font-size: 34px;
    }

    .nav.open .nav-button {
        position: fixed;
    }
    .nav-link {
        color: #606060;
    }
    
    .nav-link.active {
        color: #000;
    }
    .header-row {
        flex-direction: column;
        row-gap: 20px;
    }
    .header-content {
        margin-top: 0;
    }
    .header-nav {
        margin-bottom: 50px;
    }
    .header-img {
        text-align: center;
    }
}



@media (max-width: 700px) {
    .header-heading {
        font-size: 28px;
    }
    .header-heading span {
        font-size: 34px;
        line-height: 1.3;
    }
    .services {
        padding: 60px 0;
    }
    .portfolio {
        padding: 60px 0;
    }
    .portfolio-title {
        margin-bottom: 50px;
    }
    .project-img {
        margin-bottom: 30px; 
    }
    .project + .project{
        margin-top: 55px ;
    }


    .contacts-items {
        padding: 60px 0;
    }
    .contacts-title {
        margin-bottom: 20px;
    }
    .contacts-items p {
        margin-bottom: 20px;
    }
    .contacts-socials {
        margin-top: 60px;
    }
    .socials-items {
        margin-bottom: 20px;
    }
    .socials-items {
        max-width: 300px;
    }
}